- 중복색인

In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [4]:
obj = Series(range(5),
             index = ['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [6]:
# 중복되는 색인 값이 있을 경우에느 색인을 이용한 결과로 Series 객체를 반환
obj['a']

a    0
a    1
dtype: int64

In [7]:
# 중복되는 색인 값이 없을 경우에는 색인을 이용한 결과로 스칼라 값을 반환
obj['c']

4

In [8]:
obj['b']

b    2
b    3
dtype: int64

In [9]:
df = DataFrame(np.random.randn(4,3),
               index = ['a', 'a', 'b', 'b'])
df

          0         1         2
a -0.896011  0.031879  0.175069
a -2.023791 -0.129250  1.184962
b -0.668995  1.258560  0.779354
b -1.026732  0.495581 -0.977010

In [10]:
df.ix['b']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

          0         1         2
b -0.668995  1.258560  0.779354
b -1.026732  0.495581 -0.977010