- 함수 적용과 매핑

In [21]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

- numpy.random 모듈에 있는 randn함수는 임의의 정규분표 데이터를 생성한다

In [3]:
df = DataFrame(np.random.randn(4,3),
               columns=list('bde'),
               index = ['Seoul', 'Busan', 'Gwangju', 'Incheon']
              )
df

                b         d         e
Seoul   -1.444778 -0.320794  2.110013
Busan    0.504778 -0.182452 -0.027463
Gwangju  0.341881 -1.192213  0.371066
Incheon  1.221151 -0.022844  1.013056

In [9]:
np.abs(df)

                b         d         e
Seoul    1.444778  0.320794  2.110013
Busan    0.504778  0.182452  0.027463
Gwangju  0.341881  1.192213  0.371066
Incheon  1.221151  0.022844  1.013056

In [16]:
f = lambda x : x.max() - x.min()

df.apply(f)

b    2.665930
d    1.169369
e    2.137477
dtype: float64

In [17]:
df.apply(f,axis=1)

Seoul      3.554791
Busan      0.687230
Gwangju    1.563279
Incheon    1.243995
dtype: float64

In [28]:
def f(x):
    return Series([x.min(),x.max()])

In [29]:
df.apply(f)

          b         d         e
0 -1.444778 -1.192213 -0.027463
1  1.221151 -0.022844  2.110013

- DataFrame 객체에서 실수 값을 포맷으로 변활 할 경우 applaymap 사용

In [31]:
format = lambda x : '%.2f' % x

df.applymap(format)

             b      d      e
Seoul    -1.44  -0.32   2.11
Busan     0.50  -0.18  -0.03
Gwangju   0.34  -1.19   0.37
Incheon   1.22  -0.02   1.01

- Series 객체에서 실수 값을 문자열 포맷으로 변환 할 경우 map함수를 이용

In [34]:
df['e'].map(format)

Seoul       2.11
Busan      -0.03
Gwangju     0.37
Incheon     1.01
Name: e, dtype: object