- 기술 통계 계산
  - pandas는 일반적인 수학/통계 메서드를 가지고 있다.
  - pandas의 메서드는 처음부터 누락된 데이터를 제외하도록 설계되어 있다.

In [2]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [4]:
df = DataFrame([
    [1.4, np.nan],
    [7.1, -4.5],
    [np.nan, np.nan],
    [0.75, -1.3]
], index = ['a', 'b', 'c', 'd'], columns = ['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [9]:
# sum() 메서드는 각 컬럼의 합을 더해서 Series 객체를 반환한다.
df.sum()

one    9.25
two   -5.80
dtype: float64

In [13]:
df.sum(axis = 1) # 각 행의 합을 반환한다.

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

- 전체 행이나 칼럼의 값이 NA가 아니라면 NA 값은 제외시키고 계산한다.
- skipna 옵션은 전체 행이나 칼럼의 값이 NA가 아니라도 제외시키지 않을 수 있다.
- skipna의 기본값은 True

In [14]:
df.sum(axis = 1, skipna = False)

a     NaN
b    2.60
c     NaN
d   -0.55
dtype: float64

- idxmin, idxmax와 같은 메서드는 최소, 최대값을 가지고 있는 색인 값 같은 간접 통계르 반환한다.

In [15]:
df.idxmax()

one    b
two    d
dtype: object

- 누산 메서드 : cumsum()

In [16]:
df.cumsum()

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8