- Pandas : 데이터 분석 기능을 제공하는 라이브러리
  - 예를 들면, CSV 파일 등의 데이터를 읽고 원하는 데이터 형식으로 변환해줌

- Pandas 자료구조 : Series, DataFrame
  - Series : 일차원 배열 같은 자료구조

In [4]:
import pandas as pd
from pandas import Series, DataFrame

In [9]:
obj = Series([3, 22, 34, 11])
obj

0     3
1    22
2    34
3    11
dtype: int64

In [10]:
obj.values

array([ 3, 22, 34, 11], dtype=int64)

In [11]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [21]:
obj2 = Series([4,5,6,2], index=['d','c','e','f'])
obj2

d    4
c    5
e    6
f    2
dtype: int64

In [13]:
obj2['c']

4

In [15]:
obj2[['d','f','c']]

d    5
f    2
c    4
dtype: int64

In [16]:
obj2 * 2

c     8
d    10
e    12
f     4
dtype: int64

In [17]:
'b' in obj2

False

In [19]:
data = {'kim':3400
       ,'hong':2000
       ,'kang':1000
       ,'lee':2400}
data

{'hong': 2000, 'kang': 1000, 'kim': 3400, 'lee': 2400}

In [20]:
obj3 = Series(data)
obj3

hong    2000
kang    1000
kim     3400
lee     2400
dtype: int64

In [23]:
name = ['woo','hong','kang','lee']
obj4 = Series(data, index = name)
obj4

woo        NaN
hong    2000.0
kang    1000.0
lee     2400.0
dtype: float64

- 누락된 데이터를 찾을 때 사용하는 함수 isnull, notnull

In [24]:
pd.isnull(obj4)

woo      True
hong    False
kang    False
lee     False
dtype: bool

In [25]:
pd.notnull(obj4)

woo     False
hong     True
kang     True
lee      True
dtype: bool