In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
data = {"Seoul":4000, "Busan":2000, "Incheon":1500, "Kwangju":1000}
obj = Series(data)
obj

Busan      2000
Incheon    1500
Kwangju    1000
Seoul      4000
dtype: int64

In [3]:
cities = ["Seoul", "Daegu", "Incheon", "Kwangju"]
obj2 = Series(data, index = cities)
obj2

Seoul      4000.0
Daegu         NaN
Incheon    1500.0
Kwangju    1000.0
dtype: float64

In [4]:
obj + obj2

Busan         NaN
Daegu         NaN
Incheon    3000.0
Kwangju    2000.0
Seoul      8000.0
dtype: float64

- Series 객체와 Series의 색인(index)은 모두 name라는 속성이 있다.

In [7]:
obj2.name = "인구수"
obj2

Seoul      4000.0
Daegu         NaN
Incheon    1500.0
Kwangju    1000.0
Name: 인구수, dtype: float64

In [8]:
obj2.index.name = "도시"
obj2

도시
Seoul      4000.0
Daegu         NaN
Incheon    1500.0
Kwangju    1000.0
Name: 인구수, dtype: float64

In [9]:
obj2.index = ["Deajeon", "Busan", "Jaeju", "Jeonju"]
obj2

Deajeon    4000.0
Busan         NaN
Jeaju      1500.0
Jeonju     1000.0
Name: 인구수, dtype: float64